<div class="wrapper">
  <ul class="menu-footer medium-down--hide">
    <li>
      <a href="{{ localized_root_path }}">{{ "Accueil" | t }}</a>
    </li>
    {% for menu in menus %}
      <li>
        <a href="{{ menu.url }}">{{ menu.name }}</a>
      </li>
    {% endfor %}
    {% if theme_settings.display_contact_form %}
      <li>
        <a href="{{ restaurant.contact_path }}">
          {% if contact_settings.navigation_label? %}
            {{ contact_settings.navigation_label }}
          {% else %}
            {{ contact_settings.contact_title }}
          {% endif %}
        </a>
      </li>
    {% endif %}
    <li>
      {{ "Newsletter" | newsletter_subscribe_url }}
    </li>
    {% for path in localized_page_paths %}
      <li>
        <a href="{{ path.url }}">{{ path.locale_name }}</a>
      </li>
    {% endfor %}
  </ul>
  
  <div class="large--hide">
    <form action="select-nav">
      <select name="navigation" id="navigation-mobile" onChange="location = this.options[this.selectedIndex].value;">
        <option value="{{ localized_root_path }}">{{ "Accueil" | t }}</option>
        {% for menu in menus %}
          <option value="{{ menu.url }}">{{ menu.name }}</option>
        {% endfor %}
        <option value="{{ restaurant.url }}">{{ "Le restaurant" | t }}</option>
        <option value="Newsletter">{{ "Newsletter" | newsletter_subscribe_url }}</option>
        {% if theme_settings.display_contact_form %}
          <option value="{{ restaurant.contact_path }}">
              {% if contact_settings.navigation_label? %}
                {{ contact_settings.navigation_label }}
              {% else %}
                {{ contact_settings.contact_title }}
              {% endif %}
          </option>
        {% endif %}
        {% if localized_page_paths.size > 0 %}
          {% for path in localized_page_paths %}
            <option value="{{ path.url }}">
              {{ path.locale_name }}
            </option>
          {% endfor %}
        {% endif %}
      </select>
    </form>
  </div>

  <div class="grid">

    <div class="grid-item {% if theme_settings.footer_display_newsletter %} large--one-half {% endif %}">
      <div class="footer__social">
        <ul class="social__items">
          {% if restaurant.phone? %}
          <li class="social__item">
            <a class="social__link icon-phone" href="tel:{{ restaurant.phone_uri }}">
              <span class="social__label">{{ restaurant.phone }}</span>
            </a>
          </li>
          {% endif %}
          {% if restaurant.email %}
            <li class="social__item">
              <a class="social__link icon-envelope" href="mailto:#{{restaurant.email}}">
                <span class="social__label">{{ "Envoyer un email" | t }}</span>
              </a>
            </li>
          {% endif %}
          {% if restaurant.facebook_url? %}
            <li class="social__item">
              <a class="social__link icon-facebook" href="{{restaurant.facebook_url}}">
                <span class="social__label">{{ "Notre page Facebook" | t }}</span>
              </a>
            </li>
          {% endif %}
          {% if restaurant.twitter_url? %}
            <li class="social__item">
              <a class="social__link icon-twitter" href="{{restaurant.twitter_url}}">
                <span class="social__label">{{ "Notre compte Twitter" | t }}</span>
              </a>
            </li>
          {% endif %}
          {% if restaurant.tripadvisor_url? %}
            <li class="social__item">
              <a class="social__link icon-tripadvisor" href="{{restaurant.tripadvisor_url}}">
                <span class="social__label">{{ "Notre page TripAdvisor" | t }}</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer__legal">
        <a class="legal__link" href="{{ restaurant.terms_of_use_url }}">
          {{ "Mentions légales" | t }}
        </a>
      </div>
    </div>
  </div>
</div>
