<div class="wrapper">
  {% if menu.featured %}
    <div class="menu menu--featured" id="menu-{{menu.id}}">
  {% else %}
    <div class="menu" id="menu-{{menu.id}}">
  {% endif %}
  {% if title == true %}
    <div class="menu__header">
      <h{{ menu.depth | plus: 1 }} class="menu__title">
      {% if menu.featured %}
        <i class="icon-star"></i>
      {% endif %}
      {% if menu.depth == 2 %}
        <div class="ribbon">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:="" xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 261.98 57.981" enable-background="new 0 0 261.98 57.981" xml:space="preserve">
            <g>
              <path d="M36.638,7.173l8.318,50.808h172.071l8.318-50.808H36.638z M45.59,0H0.369l15.234,25.403L0,50.808h39.688L32.451,4.784L45.59,0z M246.377,25.403L261.611,0h-45.22l13.137,4.784l-7.235,46.023h39.686L246.377,25.403z"></path>
            </g>
          </svg>
          <span>{{ menu.name }}</span>
        </div>
      {% else %}
        {{ menu.name }}
      {% endif %}
    </h{{ menu.depth | plus: 1 }}>
    </div>
  {% endif %}
  <div class="menu__description">
    {% if menu.summary? %}
      <p>{{ menu.summary }}</p>
    {% endif %}
  </div>
  {% if menu.foods? %}
    {% for food in menu.foods %}
      {% assign_prices_to prices for food in menu %}
      {% include 'food' with food:food, menu:menu %}
    {% endfor %}
  {% endif %}
  {% if menu.children? %}
    {% for child in menu.children %}
      {% include 'menu' with menu:child %}
    {% endfor %}
  {% endif %}
  {% if menu.depth == 1 %}
    <div class="back-to-menu">
      <a class="back-to-menu__link" href="#top">{{ "Retour au menu" | t }}</a>
    </div>
  {% endif %}
  {% if menu.depth == 1 %}
    </div>
  {% endif %}
  </div>
</div>
