<div class="wrapper">
  <div class="grid">
    <div class="grid-item large--three-quarters">
      <ul class="main-nav__items">
        <li class="main-nav__item">
          <a class="main-nav__link" href="{{ localized_root_path }}">{{ "Accueil" | t }}</a>
        </li>
        {% for menu in menus %}
          <li class="main-nav__item">
            <a class="main-nav__link" href="{{ menu.url }}">{{ menu.name }}</a>
          </li>
        {% endfor %}
        <li class="main-nav__item">
          <a class="main-nav__link" href="{{ restaurant.url }}">{{ "Le restaurant" | t }}</a>
        </li>
        <li class="main-nav__item">
          {{ "Newsletter" | newsletter_subscribe_url:'class:main-nav__link' }}
        </li>
        {% if theme_settings.display_contact_form %}
          <li class="main-nav__item">
            <a class="main-nav__link" href="{{ restaurant.contact_path }}">
              {% if contact_settings.navigation_label? %}
                {{ contact_settings.navigation_label }}
              {% else %}
                {{ contact_settings.contact_title }}
              {% endif %}
            </a>
          </li>
        {% endif %}
      </ul>
    </div>

    <div class="grid-item large--one-quarter">
      {% if localized_page_paths.size > 0 %}
        <ul class="main-nav__languages">
          {% for path in localized_page_paths %}
            <li class="main-nav__language">
              <a class="main-nav__link" href="{{ path.url }}">{{ path.locale_name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>