<div class="wrapper">
  <div class="navigation">
    {% assign nbrItems = linklists.navigation-primaire.links.size | divided_by:2 | plus:1 %}
    <ul class="main-nav__items-left medium-down--hide">
      {% for link in linklists.navigation-primaire.links limit:nbrItems offset:0 %}
        {% if link.linklist_handle == "" %}
          <li class="main-nav__item {{ link.url | current_path: 'class:main-nav__item--current' }}">
            <a class="main-nav__link" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% else %}
          <li class="main-nav__item {{ link.url | current_path: 'class:main-nav__item--current' }}">
            <a class="main-nav__link" href="{{ link.url }}">{{ link.title }} </a>
            <ul class="main-sub-nav__items">
              {% for l in linklists[link.linklist_handle].links %}
              <li class="main-sub-nav__item {{ l.url | current_path: 'class:main-sub-nav__item--current' }}">
                <a class="main-sub-nav__link" href="{{ l.url }}">{{ l.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <div class="logo">
      {% if restaurant.logo? %}
        <a class="logo__link" href="{{ localized_root_path }}">
          {{ restaurant.logo_url | image_tag:'class:logo__image' }}
        </a>
      {% else %}
        <a class="logo__link" href="{{ localized_root_path }}">
          {{ reaturant.name }}
        </a>
      {% endif %}
    </div>
    <ul class="main-nav__items-right medium-down--hide">
      {% for link in linklists.navigation-primaire.links offset:nbrItems %}
        {% if link.linklist_handle == "" %}
          <li class="main-nav__item {{ link.url | current_path: 'class:main-nav__item--current' }}">
            <a class="main-nav__link" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% else %}
          <li class="main-nav__item {{ link.url | current_path: 'class:main-nav__item--current' }}">
            <a class="main-nav__link" href="{{ link.url }}">{{ link.title }} </a>
            <ul class="main-sub-nav__items">
              {% for l in linklists[link.linklist_handle].links %}
              <li class="main-sub-nav__item">
                <a class="main-sub-nav__link" href="{{ l.url }}">{{ l.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}
      {% endfor %}
      <li class="main-nav__item {{ newsletter_subscribe_form.url | current_path:  'class:main-nav__item--current' }}">
        {{ "Newsletter" | newsletter_subscribe_url: 'class:main-nav__link' }}
      </li>
      {% if localized_page_paths.size > 0 %}
        {% for path in localized_page_paths %}
          <li class="main-nav__item main-nav__item--language">
            <a class="main-nav__link" href="{{ path.url }}">{{ path.locale_name }}</a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
    <div class="large--hide">
      <form action="select-nav">
        <select class="select-nav select-nav--header" name="navigation" onChange="location = this.options[this.selectedIndex].value;">
          {% for link in linklists.navigation-primaire.links %}
            {% if link.linklist_handle == "" %}
              <option value="{{ link.url }}" {% if current_paths contains link.url %}selected{%endif%}>{{ link.title }}</option>
            {% else %}
               <option value="{{ link.url }}" {% if current_paths contains link.url %}selected{%endif%}>{{ link.title }}</option>
                <ul class="main-sub-nav__items">
                  {% for l in linklists[link.linklist_handle].links %}
                    <option value="{{ l.url }}" {% if current_paths contains l.url %}selected{%endif%}>-- {{ l.title }}</option>
                  {% endfor %}
                </ul>
            {% endif %}
          {% endfor %}
          <option value="{{ newsletter_subscribe_form.new_url }}" {% if current_paths contains newsletter_subscribe_form.new_url %}selected{%endif%}>{{ "Newsletter" | t }}</option>
          {% if localized_page_paths.size > 0 %}
            {% for path in localized_page_paths %}
              <option value="{{ path.url }}">
                {{ path.locale_name }}
              </option>
            {% endfor %}
          {% endif %}
        </select>
      </form>
    </div>
  </div>
</div>