<div class="wrapper">
  <div class="navigation">
    <ul class="main-nav__items-left medium-down--hide">
      <li class="main-nav__item {{ localized_root_path | current_path: 'class:main-nav__item--current' }}">
        <a class="main-nav__link" href="{{ localized_root_path }}">{{ "Accueil" | t }}</a>
      </li>
      {% for menu in menus %}
        <li class="main-nav__item {{ menu.url | current_path: 'class:main-nav__item--current' }}">
          <a class="main-nav__link" href="{{ menu.url }}">{{ menu.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="logo">
      {% if restaurant.logo? %}
        <a class="logo__link" href="{{ localized_root_path }}">
          {{ restaurant.logo_url | image_tag:'class:logo__image' }}
        </a>
      {% else %}
        <a class="logo__link" href="{{ localized_root_path }}">
          {{ reaturant.name }}
        </a>
      {% endif %}
    </div>
    <ul class="main-nav__items-right medium-down--hide">
      <li class="main-nav__item {{ restaurant.url | current_path: 'class:main-nav__item--current' }}">
        <a class="main-nav__link" href="{{ restaurant.url }}">{{ "Le restaurant" | t }}</a>
      </li>
      <li class="main-nav__item {{ restaurant.newsletter_path | current_path: "class:main-nav__item--current" }}">
        {{ "Newsletter" | newsletter_subscribe_url: 'class:main-nav__link' }}
      </li>
      {% if theme_settings.display_contact_form %}
        <li class="main-nav__item {{ restaurant.contact_path | current_path: 'class:main-nav__item--current' }}">
          <a class="main-nav__link" href="{{ restaurant.contact_path }}">
            {% if contact_settings.navigation_label? %}
              {{ contact_settings.navigation_label }}
            {% else %}
              {{ contact_settings.contact_title }}
            {% endif %}
          </a>
        </li>
      {% endif %}
      {% if localized_page_paths.size > 0 %}
        {% for path in localized_page_paths %}
          <li class="main-nav__language">
            <a class="main-nav__link" href="{{ path.url }}">{{ path.locale_name }}</a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>

    <div class="large--hide">
    <form action="select-nav">
      <select class="select-nav" name="navigation" id="navigation-mobile" onChange="location = this.options[this.selectedIndex].value;">
        <option value="{{ localized_root_path }}" {% if current_path == localized_root_path %}selected{%endif%}>{{ "Accueil" | t }}</option>
        {% for menu in menus %}
          <option value="{{ menu.url }}" {% if current_path == menu.url %}selected{%endif%}>{{ menu.name }}</option>
        {% endfor %}
        <option value="{{ restaurant.url }}" {% if current_path == restaurant.url %}selected{%endif%}>{{ "Le restaurant" | t }}</option>
        <option value="{{ newsletter_subscribe_form.new_url }}" {% if current_path == newsletter_subscribe_form.new_url %}selected{%endif%}>{{ "Newsletter" | t }}</option>
        {% if theme_settings.display_contact_form %}
          <option value="{{ restaurant.contact_path }}" {% if current_path == restaurant.contact_path %}selected{%endif%}>
              {% if contact_settings.navigation_label? %}
                {{ contact_settings.navigation_label }}
              {% else %}
                {{ contact_settings.contact_title }}
              {% endif %}
          </option>
        {% endif %}
        {% if localized_page_paths.size > 0 %}
          {% for path in localized_page_paths %}
            <option value="{{ path.url }}">
              {{ path.locale_name }}
            </option>
          {% endfor %}
        {% endif %}
      </select>
    </form>
    </div>
  </div>
</div>