<div class="tabs-wrapper">
  <input checked="checked" class="tab-head" id="tab1" name="tab" type="radio">
  <label for="tab1">
    Couleurs
  </label>
  <input class="tab-head" id="tab2" name="tab" type="radio">
  <label for="tab2">
    Polices
  </label>
  <input class="tab-head" id="tab3" name="tab" type="radio">
  <label for="tab3">
    Modules
  </label>

  <div class="tab-body-wrapper">
    <div class="tab-body" id="tab-body-1">
      <fieldset>
        <legend>Général</legend>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="body-background">Fond de page</label>
            <input name="admin_theme_settings[body-background]" id="body-background" value="{{ theme_settings.body-background }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="body-color">Couleur par défaut du texte</label>
            <input name="admin_theme_settings[body-color]" id="body-color" value="{{ theme_settings.body-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="page-body-link-color">Couleur des liens (défault)</label>
            <input name="admin_theme_settings[page-body-link-color]" id="page-body-link-color" value="{{ theme_settings.page-body-link-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="page-body-link-hover-color">Couleur des liens (survol)</label>
            <input name="admin_theme_settings[page-body-link-hover-color]" id="page-body-link-hover-color" value="{{ theme_settings.page-body-link-hover-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="restaurant-summary-color">Description (texte)</label>
            <input name="admin_theme_settings[restaurant-summary-color]" id="restaurant-summary-color" value="{{ theme_settings.restaurant-summary-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="phone-number-link-color">Numéro de téléphone (texte)</label>
            <input name="admin_theme_settings[phone-number-link-color]" id="phone-number-link-color" value="{{ theme_settings.phone-number-link-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3 end">
            <label for="phone-number-link-hover-color">Numéro de téléphone (survol)</label>
            <input name="admin_theme_settings[phone-number-link-hover-color]" id="phone-number-link-hover-color" value="{{ theme_settings.phone-number-link-hover-color }}" type="text" class="minicolors">
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Entête du site</legend>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="restaurant-name-color">Nom du restaurant</label>
            <input name="admin_theme_settings[restaurant-name-color]" id="restaurant-name-color" value="{{ theme_settings.restaurant-name-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3 end">
            <label for="slogan-color">Slogan</label>
            <input name="admin_theme_settings[slogan-color]" id="slogan-color" value="{{ theme_settings.slogan-color }}" type="text" class="minicolors">
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Navigation principale</legend>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="main-nav-link-color">Lien</label>
            <input name="admin_theme_settings[main-nav-link-color]" id="main-nav-link-color" value="{{ theme_settings.main-nav-link-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3 end">
            <label for="main-nav-link-hover-color">Lien (survol)</label>
            <input name="admin_theme_settings[main-nav-link-hover-color]" id="main-nav-link-hover-color" value="{{ theme_settings.main-nav-link-hover-color }}" type="text" class="minicolors">
          </div>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="main-nav-background">Fond de la navigation</label>
            <input name="admin_theme_settings[main-nav-background]" id="main-nav-background" value="{{ theme_settings.main-nav-background }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="main-nav-link-background">Fond du lien</label>
            <input name="admin_theme_settings[main-nav-link-background]" id="main-nav-link-background" value="{{ theme_settings.main-nav-link-background }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3 end">
            <label for="main-nav-link-hover-background">Fond du lien (survol)</label>
            <input name="admin_theme_settings[main-nav-link-hover-background]" id="main-nav-link-hover-background" value="{{ theme_settings.main-nav-link-hover-background }}" type="text" class="minicolors">
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Pied de page</legend>
        <div class="row">
          <div class="columns medium-4 large-3 end">
            <label for="footer-background">Fond</label>
            <input name="admin_theme_settings[footer-background]" id="footer-background" value="{{ theme_settings.footer-background }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="back-to-top-link-color">Lien haut de page</label>
            <input name="admin_theme_settings[back-to-top-link-color]" id="back-to-top-link-color" value="{{ theme_settings.back-to-top-link-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="back-to-top-link-hover-color">Lien haut de page (survol)</label>
            <input name="admin_theme_settings[back-to-top-link-hover-color]" id="back-to-top-link-hover-color" value="{{ theme_settings.back-to-top-link-hover-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="footer-subscribe-label-color">Newsletter (label)</label>
            <input name="admin_theme_settings[footer-subscribe-label-color]" id="footer-subscribe-label-color" value="{{ theme_settings.footer-subscribe-label-color }}" type="text" class="minicolors">
          </div>
        </div>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="social-link-color">Lien réseau social</label>
            <input name="admin_theme_settings[social-link-color]" id="social-link-color" value="{{ theme_settings.social-link-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="social-link-hover-color">Lien réseau social (survol)</label>
            <input name="admin_theme_settings[social-link-hover-color]" id="social-link-hover-color" value="{{ theme_settings.social-link-hover-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="legal-link-color">Lien mentions légales</label>
            <input name="admin_theme_settings[legal-link-color]" id="legal-link-color" value="{{ theme_settings.legal-link-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="legal-link-hover-color">Lien mentions légales (survol)</label>
            <input name="admin_theme_settings[legal-link-hover-color]" id="legal-link-hover-color" value="{{ theme_settings.legal-link-hover-color }}" type="text" class="minicolors">
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Entête de page</legend>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="page-header-background">Fond</label>
            <input name="admin_theme_settings[page-header-background]" id="page-header-background" value="{{ theme_settings.page-header-background }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="page-header-title-color">Titre de page</label>
            <input name="admin_theme_settings[page-header-title-color]" id="page-header-title-color" value="{{ theme_settings.page-header-title-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3 end">
            <label for="page-header-description-color">Texte d'introduction</label>
            <input name="admin_theme_settings[page-header-description-color]" id="page-header-description-color" value="{{ theme_settings.page-header-description-color }}" type="text" class="minicolors">
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Menus</legend>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="menu-title-color">Titre</label>
            <input name="admin_theme_settings[menu-title-color]" id="menu-title-color" value="{{ theme_settings.menu-title-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="menu-link-color">Titre (si lien)</label>
            <input name="admin_theme_settings[menu-link-color]" id="menu-link-color" value="{{ theme_settings.menu-link-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3 end">
            <label for="menu-link-hover-color">Titre (survol si lien)</label>
            <input name="admin_theme_settings[menu-link-hover-color]" id="menu-link-hover-color" value="{{ theme_settings.menu-link-hover-color }}" type="text" class="minicolors">
          </div>
        </div>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="menu-description-color">Description du menu</label>
            <input name="admin_theme_settings[menu-description-color]" id="menu-description-color" value="{{ theme_settings.menu-description-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="back-to-menu-link-color">Lien retour au menu</label>
            <input name="admin_theme_settings[back-to-menu-link-color]" id="back-to-menu-link-color" value="{{ theme_settings.back-to-menu-link-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3 end">
            <label for="back-to-menu-link-hover-color">Lien retour au menu (survol)</label>
            <input name="admin_theme_settings[back-to-menu-link-hover-color]" id="back-to-menu-link-hover-color" value="{{ theme_settings.back-to-menu-link-hover-color }}" type="text" class="minicolors">
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Plats</legend>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="food-summary-description-color">Description du plat</label>
            <input name="admin_theme_settings[food-summary-description-color]" id="food-summary-description-color" value="{{ theme_settings.food-summary-description-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3 end">
            <label for="featured-star-color">Étoile pour plat en avant</label>
            <input name="admin_theme_settings[featured-star-color]" id="featured-star-color" value="{{ theme_settings.featured-star-color }}" type="text" class="minicolors">
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Prix</legend>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="price-border-color">Bord</label>
            <input name="admin_theme_settings[price-border-color]" id="price-border-color" value="{{ theme_settings.price-border-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="price-value-background">Fond</label>
            <input name="admin_theme_settings[price-value-background]" id="price-value-background" value="{{ theme_settings.price-value-background }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="price-label-color">Label</label>
            <input name="admin_theme_settings[price-label-color]" id="price-label-color" value="{{ theme_settings.price-label-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="price-value-color">Valeur</label>
            <input name="admin_theme_settings[price-value-color]" id="price-value-color" value="{{ theme_settings.price-value-color }}" type="text" class="minicolors">
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Étiquettes</legend>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="label-vegetarian-background">Végétarien (fond)</label>
            <input name="admin_theme_settings[label-vegetarian-background]" id="label-vegetarian-background" value="{{ theme_settings.label-vegetarian-background }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="label-vegetarian-color">Végétarien (texte)</label>
            <input name="admin_theme_settings[label-vegetarian-color]" id="label-vegetarian-color" value="{{ theme_settings.label-vegetarian-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="label-new-background">Nouveau (fond)</label>
            <input name="admin_theme_settings[label-new-background]" id="label-new-background" value="{{ theme_settings.label-new-background }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="label-new-color">Nouveau (texte)</label>
            <input name="admin_theme_settings[label-new-color]" id="label-new-color" value="{{ theme_settings.label-new-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="label-no-pork-background">Pas de porc (fond)</label>
            <input name="admin_theme_settings[label-no-pork-background]" id="label-no-pork-background" value="{{ theme_settings.label-no-pork-background }}" type="text" class="minicolors">
          </div>

          <div class="columns medium-4 large-3">
            <label for="label-no-pork-color">Pas de porc (texte)</label>
            <input name="admin_theme_settings[label-no-pork-color]" id="label-no-pork-color" value="{{ theme_settings.label-no-pork-color }}" type="text" class="minicolors">
          </div>

          <div class="columns medium-4 large-3">
            <label for="label-no-meat-background">Pas de viande (fond)</label>
            <input name="admin_theme_settings[label-no-meat-background]" id="label-no-meat-background" value="{{ theme_settings.label-no-meat-background }}" type="text" class="minicolors">
          </div>

          <div class="columns medium-4 large-3">
            <label for="label-no-meat-color">Pas de viande (texte)</label>
            <input name="admin_theme_settings[label-no-meat-color]" id="label-no-meat-color" value="{{ theme_settings.label-no-meat-color }}" type="text" class="minicolors">
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Page d'accueil</legend>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="featured-menus-background">Menus en accueil (fond)</label>
            <input name="admin_theme_settings[featured-menus-background]" id="featured-menus-background" value="{{ theme_settings.featured-menus-background }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="featured-menus-title-color">Menus en accueil (titre)</label>
            <input name="admin_theme_settings[featured-menus-title-color]" id="featured-menus-title-color" value="{{ theme_settings.featured-menus-title-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="featured-menus-border-color">Menus en accueil (bordure)</label>
            <input name="admin_theme_settings[featured-menus-border-color]" id="featured-menus-border-color" value="{{ theme_settings.featured-menus-border-color }}" type="text" class="minicolors">
          </div>
        </div>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="featured-foods-background">Plats en accueil (fond)</label>
            <input name="admin_theme_settings[featured-foods-background]" id="featured-foods-background" value="{{ theme_settings.featured-foods-background }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="featured-foods-title-color">Plats en accueil (titre)</label>
            <input name="admin_theme_settings[featured-foods-title-color]" id="featured-foods-title-color" value="{{ theme_settings.featured-foods-title-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="featured-foods-border-color">Plats en accueil (bordure)</label>
            <input name="admin_theme_settings[featured-foods-border-color]" id="featured-foods-border-color" value="{{ theme_settings.featured-foods-border-color }}" type="text" class="minicolors">
          </div>
        </div>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="opening-hours-background">Horaires (fond)</label>
            <input name="admin_theme_settings[opening-hours-background]" id="opening-hours-background" value="{{ theme_settings.opening-hours-background }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="opening-hours-title-color">Horaires (titre)</label>
            <input name="admin_theme_settings[opening-hours-title-color]" id="opening-hours-title-color" value="{{ theme_settings.opening-hours-title-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="opening-hours-border-color">Horaires (bordure)</label>
            <input name="admin_theme_settings[opening-hours-border-color]" id="opening-hours-border-color" value="{{ theme_settings.opening-hours-border-color }}" type="text" class="minicolors">
          </div>
        </div>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="opening-hours-day-color">Horaires (jour)</label>
            <input name="admin_theme_settings[opening-hours-day-color]" id="opening-hours-day-color" value="{{ theme_settings.opening-hours-day-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3 end">
            <label for="opening-hours-shifts-color">Horaires (heures)</label>
            <input name="admin_theme_settings[opening-hours-shifts-color]" id="opening-hours-shifts-color" value="{{ theme_settings.opening-hours-shifts-color }}" type="text" class="minicolors">
          </div>
        </div>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="directions-background">Localisation (fond)</label>
            <input name="admin_theme_settings[directions-background]" id="directions-background" value="{{ theme_settings.directions-background }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="directions-title-color">Localisation (titre)</label>
            <input name="admin_theme_settings[directions-title-color]" id="directions-title-color" value="{{ theme_settings.directions-title-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="directions-border-color">Localisation (bordure)</label>
            <input name="admin_theme_settings[directions-border-color]" id="directions-border-color" value="{{ theme_settings.directions-border-color }}" type="text" class="minicolors">
          </div>
        </div>
        <div class="row">
          <div class="columns medium-4 large-3 end">
            <label for="address-color">Localisation (adresse)</label>
            <input name="admin_theme_settings[address-color]" id="address-color" value="{{ theme_settings.address-color }}" type="text" class="minicolors">
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Galerie photo</legend>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="restaurant-gallery-background">Fond</label>
            <input name="admin_theme_settings[restaurant-gallery-background]" id="restaurant-gallery-background" value="{{ theme_settings.restaurant-gallery-background }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3 end">
            <label for="gallery-caption-color">Image de la galerie (légende)</label>
            <input name="admin_theme_settings[gallery-caption-color]" id="gallery-caption-color" value="{{ theme_settings.gallery-caption-color }}" type="text" class="minicolors">
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Formulaire</legend>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="form-legend-color">Titre de groupe</label>
            <input name="admin_theme_settings[form-legend-color]" id="form-legend-color" value="{{ theme_settings.form-legend-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="form-label-color">Label de champ</label>
            <input name="admin_theme_settings[form-label-color]" id="form-label-color" value="{{ theme_settings.form-label-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="form-field-background">Champ de saisie (fond)</label>
            <input name="admin_theme_settings[form-field-background]" id="form-field-background" value="{{ theme_settings.form-field-background }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="form-field-border-color">Champ de saisie (bord)</label>
            <input name="admin_theme_settings[form-field-border-color]" id="form-field-border-color" value="{{ theme_settings.form-field-border-color }}" type="text" class="minicolors">
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Messages</legend>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="message-success-background">Succès (fond)</label>
            <input name="admin_theme_settings[message-success-background]" id="message-success-background" value="{{ theme_settings.message-success-background }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="message-success-color">Succès (texte)</label>
            <input name="admin_theme_settings[message-success-color]" id="message-success-color" value="{{ theme_settings.message-success-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="message-error-background">Erreur (fond)</label>
            <input name="admin_theme_settings[message-error-background]" id="message-error-background" value="{{ theme_settings.message-error-background }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="message-error-color">Erreur (texte)</label>
            <input name="admin_theme_settings[message-error-color]" id="message-error-color" value="{{ theme_settings.message-error-color }}" type="text" class="minicolors">
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Message de champ de formulaire</legend>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="input-hint-info-background">Info (fond)</label>
            <input name="admin_theme_settings[input-hint-info-background]" id="input-hint-info-background" value="{{ theme_settings.input-hint-info-background }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="input-hint-info-color">Info (texte)</label>
            <input name="admin_theme_settings[input-hint-info-color]" id="input-hint-info-color" value="{{ theme_settings.input-hint-info-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="input-hint-error-background">Erreur (fond)</label>
            <input name="admin_theme_settings[input-hint-error-background]" id="input-hint-error-background" value="{{ theme_settings.input-hint-error-background }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="input-hint-error-color">Erreur (texte)</label>
            <input name="admin_theme_settings[input-hint-error-color]" id="input-hint-error-color" value="{{ theme_settings.input-hint-error-color }}" type="text" class="minicolors">
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Bouton</legend>
        <div class="row">
          <div class="columns medium-4 large-3">
            <label for="button-background">Fond du bouton</label>
            <input name="admin_theme_settings[button-background]" id="button-background" value="{{ theme_settings.button-background }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="button-color">Texte du bouton</label>
            <input name="admin_theme_settings[button-color]" id="button-color" value="{{ theme_settings.button-color }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="button-hover-background">Fond du bouton (survol)</label>
            <input name="admin_theme_settings[button-hover-background]" id="button-hover-background" value="{{ theme_settings.button-hover-background }}" type="text" class="minicolors">
          </div>
          <div class="columns medium-4 large-3">
            <label for="button-hover-color">Texte du bouton (survol)</label>
            <input name="admin_theme_settings[button-hover-color]" id="button-hover-color" value="{{ theme_settings.button-hover-color }}" type="text" class="minicolors">
          </div>
        </div>
      </fieldset>
    </div>

    <div class="tab-body" id="tab-body-2">
      <fieldset>
        <legend>Polices</legend>
        <div class="row">
          <div class="columns">
            <p>Si vous utilisez une ou plusieurs polices du service Google Fonts, indiquez dans ce champ le code fourni par Google. Lorsque vous êtes à l'étape "Use" sur Google Fonts, le point "3. Add this code to your website:" affiche un tag &lt;link&gt;. Copiez tout le code et collez-le ici.</p>
            <label for="google-fonts-link">Google Fonts : tag &lt;link&gt;</label>
            <input type="text" id="google-fonts-link" name="admin_theme_settings[google-fonts-link]" value="{{ theme_settings.google-fonts-link | escape_once }}" placeholder="&lt;link href='http://fonts.googleapis.com/css?family=...">
          </div>
        </div>
        <div class="row">
          <div class="columns medium-6">
            <label for="body-font">Corps de texte</label>
            <input type="text" id="body-font" name="admin_theme_settings[body-font]" value="{{ theme_settings.body-font }}">
            <span>Indiquez le nom de la police seulement, ou bien la font stack</span>
          </div>
          <div class="columns medium-6">
            <label for="header-font">Titres</label>
            <input type="text" id="header-font" name="admin_theme_settings[header-font]" value="{{ theme_settings.header-font }}">
            <span>Indiquez le nom de la police seulement, ou bien la font stack</span>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="tab-body" id="tab-body-3">
      <fieldset>
        <legend>Communication</legend>
        <div class="small-12 medium-6 large-6 columns">
          {% if theme_settings.footer_display_newsletter %}
            <input class="icheck-me" name="admin_theme_settings[footer_display_newsletter]" id="footer_display_newsletter" type="checkbox" value="{{ theme_settings.footer_display_newsletter }}" data-skin='black-green' checked/>
          {% else %}
            <input class="icheck-me" name="admin_theme_settings[footer_display_newsletter]" id="footer_display_newsletter" type="checkbox" value="{{ theme_settings.footer_display_newsletter }}" data-skin='black-green' />
          {% endif %}
          <label style="margin-right:.5em;" for="footer_display_newsletter">Afficher la newsletter</label>
        </div>

        <div class="small-12 medium-6 large-6 columns end">
          {% if theme_settings.display_contact_form %}
            <input class="icheck-me" name="admin_theme_settings[display_contact_form]" id="display_contact_form" type="checkbox" value="{{ theme_settings.display_contact_form }}" data-skin='black-green' checked/>
          {% else %}
            <input class="icheck-me" name="admin_theme_settings[display_contact_form]" id="display_contact_form" type="checkbox" value="{{ theme_settings.display_contact_form }}" data-skin='black-green' />
          {% endif %}
          <label style="margin-right:.5em;" for="display_contact_form">Afficher le formulaire de contact</label>
        </div>
      </fieldset>

      <fieldset>
        <legend>Carte Google</legend>
        <div class="small-12 medium-6 large-6 columns">
          <input class="icheck-me" name="admin_theme_settings[google_map_type]" id="radio_google_none" type="radio" value="" data-skin='black-green' {% if theme_settings.google_map_type == "" %}checked{% endif %}/>
          <label style="margin-right:.5em;" for="radio_google_none">Ne pas afficher la carte</label>
          <input class="icheck-me" name="admin_theme_settings[google_map_type]" id="radio_google_map_image" type="radio" value="image" data-skin='black-green' {% if theme_settings.google_map_type == "image" %}checked{% endif %}/>
          <label style="margin-right:.5em;" for="radio_google_map_image">Afficher la carte sous forme d'image</label>
          <input class="icheck-me" name="admin_theme_settings[google_map_type]" id="radio_google_map_embed" type="radio" value="embed" data-skin='black-green' {% if theme_settings.google_map_type == "embed" %}checked{% endif %}/>
          <label style="margin-right:.5em;" for="radio_google_map_embed">Afficher la carte interactive</label>
        </div>
      </fieldset>

      <fieldset>
        <legend>
          Visite virtuelle
          <a class="small dropdown" data-options="align:top" data-dropdown="informations-link" style="display:inline;width:25px;text-align:center;">
            &nbsp<i class="fa fa-info"></i>&nbsp
          </a>
          <div class="f-dropdown content info" id="informations-link" data-dropdown-content="">
            <p>
              Où trouver vos informations ? <a target="blank" href='https://www.google.com/maps?output=classic'>google.com/maps?output=classic</a>
            </p>
            <img src="/assets/business-view-info.jpg">
          </div>
        </legend>
        <div class="small-12 medium-6 large-6 columns end">
          <div class="row">
            {% if theme_settings.display_google_business_view_embed %}
              <input class="icheck-me" name="admin_theme_settings[display_google_business_view_embed]" id="display_google_business_view_embed" type="checkbox" value="{{ theme_settings.display_google_business_view_embed }}" data-skin='black-green' checked/>
            {% else %}
              <input class="icheck-me" name="admin_theme_settings[display_google_business_view_embed]" id="display_google_business_view_embed" type="checkbox" value="{{ theme_settings.display_google_business_view_embed }}" data-skin='black-green' />
            {% endif %}
            <label style="margin-right:.5em;" for="display_google_business_view_embed">Afficher la visite virtuelle</label>
          </div>

          <div class="row">
            <label class="left" for="google_business_view_embed">Code HTML</label>
            <input name="admin_theme_settings[google_business_view_embed]" type="text" id="google_business_view_embed" value="{{ theme_settings.google_business_view_embed | escape_once }}" />
          </div>
        </div>

        <div class="small-12 medium-6 large-6 columns">
          <div class="row">
            {% if theme_settings.display_google_business_view_url %}
              <input class="icheck-me" name="admin_theme_settings[display_google_business_view_url]" id="display_google_business_view_url" type="checkbox" value="{{ theme_settings.display_google_business_view_url }}" data-skin='black-green' checked/>
            {% else %}
              <input class="icheck-me" name="admin_theme_settings[display_google_business_view_url]" id="display_google_business_view_url" type="checkbox" value="{{ theme_settings.display_google_business_view_url }}" data-skin='black-green' />
            {% endif %}
            <label style="margin-right:.5em;" for="display_google_business_view_url">Afficher le lien</label>
          </div>

          <div class="row">
            <label class="left" for="google_business_view_url">Url</label>
            <input name="admin_theme_settings[google_business_view_url]" type="text" id="google_business_view_url" value="{{ theme_settings.google_business_view_url }}" />
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
