<!doctype html>
<html lang="{{ current_locale }}">
  <head>
    {% title_tag %}
    {% meta_description_tag %}

    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ restaurant.host | url_canonical | canonical_tag }}

    {{ 'application.css' | asset_url | stylesheet_tag }}
    {% if theme_settings.google-fonts-link %}
      {{ theme_settings.google-fonts-link | replace:'http:','https:' }}
    {% endif %}

    <script src="//polyfill.io"></script>
  </head>
  <body>
    <section class="page" id="top">
      <header class="main-header">
        <div class="wrapper">
          <div class="grid">
            <div class="grid-item large--two-thirds">
              {% if restaurant.logo? %}
                <div class="logo">
                  <a class="logo__link" href="{{ localized_root_path }}">
                    {{ restaurant.logo_url | image_tag:'class:logo__image' }}
                  </a>
                </div>
              {% endif %}
              <div class="restaurant-name">
                <a class="restaurant-name__link" href="{{ localized_root_path }}">{{ restaurant.name }}</a>
                {% if restaurant.slogan? %}
                <div class="slogan">{{ restaurant.slogan }}</div>
                {% endif %}
              </div>
            </div>
            <div class="grid-item large--one-third">
              {% if restaurant.phone? %}
                <div class="phone-number">
                  <a class="phone-number__link" href="tel:{{ restaurant.phone_uri }}">
                    <i class="icon-phone"></i> <span class="phone-number__label">{{ restaurant.phone }}</span>
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </header>
      <nav class="main-nav" role="navigation">
        {% include 'nav' %}
      </nav>
      <main class="main-content" role="main">
        {{ content_for_layout }}
      </main>
      <footer class="main-footer" role="contentinfo">
        {% include 'footer' %}
      </footer>
    </section>
  </body>
</html>
