<!doctype html>
<html lang="{{ current_locale }}">
  <head>
    {% title_tag %}
    {% meta_description_tag %}

    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ restaurant.host | url_canonical | canonical_tag }}

    {{ 'application.css' | asset_url | stylesheet_tag }}
    {{ 'jquery.bxslider.css' | asset_url | stylesheet_tag }}
    {% if theme_settings.google-fonts-link %}
      {{ theme_settings.google-fonts-link | replace:'http:','https:' }}
    {% endif %}

    <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>

    <script src="//polyfill.io"></script>
  </head>
  <body>
    <section class="page" id="top">
      <header class="main-header">
        <nav class="main-nav" role="navigation">
        {% include 'nav' %}
      </nav>
      </header>
      <main class="main-content" role="main">
        {{ content_for_layout }}
      </main>
      <footer class="main-footer" role="contentinfo">
        {% include 'footer' %}
      </footer>
    </section>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {{ 'jquery.bxslider.min.js' | asset_url | javascript_tag }}
    <script>
      $(document).ready(function(){
        $('.bxslider').bxSlider();
      });
    </script>
  </body>
</html>
