<section class="page-header page-header--menu">
    <div class="back-menu-slider" style="{% if menu.main_image?%}background-image: url({{ menu.main_image | custom_image_url: '1920x480#' }}{% endif %})">
      <h1 class="menu-slider-title">{{ menu.name }}</h1>
      {% if menu.children? %}
        <ul id="categories-slider">
          {% for child in menu.children %}
            <li class="categories-slider-item">
              <a href="#menu-{{child.id}}" class="anchor-scroll">
                {{ child.main_image | custom_image_url: "100x100#" | image_tag: "class:", "width:100px" }}
                <br>
                {{ child.name}}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    {% if menu.summary? %}
      <main class="section__main page-header__description">
        {{ menu.summary }}
      </main>
    {% endif %}
</section>

{% if menu.children? %}
  {% for child in menu.children %}
    {% include 'menu' with menu:child, title:true %}
  {% endfor %}
{% else %}
  {% include 'menu' with menu:menu, title:true %}
{% endif %}