<section class="page-header--contact grid wrapper">
  <div class="grid-item">
    <header class="section__header page-header__header">
      <h1 class="section__title page-header__title">{{ contact_settings.contact_title }}</h1>
    </header>
    <main class="section__main page-header__description">
      {{ contact_settings.contact_content }}
    </main>
  </div>
</section>

<section class="form-contact grid wrapper">
  <div class="grid-item large--one-half">
    {% contact_form %}
      <fieldset class="field-group">
        <legend class="field-group__legend">{{ "Vos coordonnées" | t }}</legend>
        <div class="input input--name">
          <label for="contactFromName">{{ "Votre nom :" | t }}</label>
          <input id="contactFromName" name="message[from_name]" type="text" required>
        </div>
        <div class="input input--mail">
          <label for="contactFromEmail">{{ "Votre mail :" | t }}</label>
          <input id="contactFromEmail" name="message[from_email]" type="text" required>
        </div>
        <div class="textarea">
          <label for="contactBody">{{ "Votre message :" | t }}</label>
          <textarea class="textarea-contact" id="contactBody" name="message[body]"></textarea>
        </div>
        <div class="submit">
          <input class="button-custom" type="submit" value="{{ "Envoyer" | t }}">
        </div>
      </fieldset>
    {% endcontact_form %}
  </div>
  <div class="grid-item large--one-half contact-informations wrapper">
    {% if restaurant.street_address? || restaurant.zip_code? || restaurant.city? %}
      <div class="adress-contact-wrapper">
        <h3 class="adress-contact">{{ "Adresse :" | t }}</h3>
        <p>
          {% if restaurant.street_address? %}
            {{ restaurant.street_address }}
            <br />
          {% endif %}
          {% if restaurant.zip_code? %} {{ restaurant.zip_code }} {% endif %}
          {% if restaurant.city? %} {{ restaurant.city }} {% endif %}
        </p>
      </div>
    {% endif %}
    {% if restaurant.phone? %}
      <div class="tel-contact-wrapper">
        <h3 class="tel-contact">{{ "Téléphone :" | t }}</h3>
        <p>{{ restaurant.phone }}</p>
      </div>
    {% endif %}
  </div>
</section>
